@import "./reset.css";

body {
  overflow: hidden;
}

.top {
  width: 100%;
  height: 20vh;

  display: flex;
  flex-direction: row;
}

.top .top__col1 {
  width: 720px;
  height: 100%;

  background-color: #55efc4;
}

.top .top__col2 {
  width: 720px;
  height: 100%;

  background-color: #81ecec;
}

.main {
  width: 100%;
  height: 65vh;

  display: flex;
  flex-direction: row;
}

.main .main__col1 {
  width: 720px;
  height: 100%;

  background-color: chocolate;
}

.main .main__col2 {
  width: 720px;
  height: 100%;

  background-color: coral;
}

.bottom {
  width: 100%;
  height: 35vh;

  display: flex;
  flex-direction: row;
}
